.body {
    background-color:rgb(255, 255, 255) !important;
    padding: 50px;
}

.para{
    text-align: justify;
    text-indent: 50px;
}

.imej {width: 100% !important;}

.logo {
    width: 200px;
}

.nav-item {
    font-family:"Times New Roman", Georgia, Serif;
    font-size: 20px;
    font-weight: normal !important;
    color: black !important;
}

.navbar-nav>.active{
    font-weight: bolder !important;
}

.bigg {
    font-size: 600px !important;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color:rgb(0, 0, 0) !important}

    .biggg {
        font-size: 50px;
        font-family:"Times New Roman", Georgia, Serif;
        font-weight: normal;
        color:rgb(0, 0, 0) !important}

.normi {
    font-size: 40px;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color:rgb(0,0,0)}

.smol {
    font-size: 30px;
    font-family:"Times New Roman", Georgia, Serif;
    color: rgb(0, 0, 0);}

.lenk {
    font-size: 25px;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color: rgb(0, 0, 0) !important;
    transition: all .7s}

.twech{
    font-size: 25px;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color: rgb(0, 0, 0) !important;
    transition: all .7s
}

.twech:hover{
    color: rgb(0, 0, 0) !important;
}

.lenk:hover{
    color: rgb(0, 0, 0) !important;
}

.boton{
    font-size: 20px;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color: black;
    background-color: rgb(233, 241, 243);
    border-color: rgb(233, 241, 243);
    transition: all .7s;
    border-radius: 30px;}

.btn:hover{
color: white;
background-color: rgb(28, 28, 31);
border-color: white;}

.smoler {
    font-size: 20px;
    font-family:"Times New Roman", Georgia, Serif;
    font-weight: normal;
    color: white;}

.card { background-color: rgba(255, 255, 255, 0.05);
        border-radius: 15px;}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.card-header, .card-footer { opacity: 1}